.hide {
  display: none;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/*Comon Style*/
.container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Reset Styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}

.img {
  display: block;
  max-width: 100%;
}

/*Header*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding: 25px 0 25px 0;
}
.btn-container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.toggle-container {
  position: relative;
  width: 54px;
  height: 30px;
}
.toggle-switch {
  display: none;
}
.toggle-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  top: 3px;
  left: 4px;
  transition: transform 0.3s;
}
.toggle-switch:checked + .toggle-label {
  background-color: #333333;
}
.toggle-switch:checked + .toggle-label::before {
  transform: translateX(26px);
}
body.dark-mode {
  background-color: #3c3c3c;
}
body.dark-mode .header-logo_svg use,
body.dark-mode .burger-menu_svg use {
  fill: #fefefe; /* Змінюємо колір SVG на білий */
}
.burger-menu {
  background-color: transparent;
}

/**Hero**/
.hero {
  padding-top: 92px;
  padding-bottom: 122px;
}

.hero .container {
  position: relative;
}
.bg_hero {
  background-image: url(./images/hero/bg_hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content_wrapper {
}
.hero-content_title {
  color: #fefefe;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 15px;
}
.hero-content_btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 18px 39px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 3px;
  background: var(
    --base_gradient,
    linear-gradient(107deg, #4bd8b5 -14.32%, #49d6df 100.68%)
  );
  margin-bottom: 53px;
}
.content_btn_svg {
  fill: #fff;
}

.gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.gallery-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-list {
  display: flex;
  transition: transform 0.5s ease;
  list-style: none;
  padding: 0;
  margin: 0;
  will-change: transform;
}

.gallery-item {
  width: 70%;
  flex: 0 0 auto;
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  position: relative;
  text-align: center;
  border-radius: 5px;
  background-color: linear-gradient(
    357deg,
    #000 -56.45%,
    rgba(0, 0, 0, 0) 65.03%
  );
  overflow: hidden;
  border-radius: 20px;
}

.gallery-img {
  width: 100%;
  height: auto;
}

.gallery-item_info {
  position: absolute;
  bottom: 0;
  right: 0;

  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: font-size 0.5s ease;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.gallery-item.active .gallery-item_info {
  display: flex;
  font-size: 1.5em;
}

.gallery-item_text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 6px;
}

.btn-watch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: #4bd8b5;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: auto;
  margin-bottom: 6px;
}

.btn-watch_svg {
  fill: #4bd8b5;
}
.btn-donate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-right: auto;
}
.btn-donate_svg {
  fill: #fff;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;

  cursor: pointer;
  z-index: 10; /* Щоб кнопки були завжди поверх галереї */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.gallery-prev_svg,
.gallery-next_svg {
  fill: #212121;
}

.gallery-item:not(.active) {
  transform: scale(0.8);
}

.gallery-item.active {
  transform: scale(1);
  width: 70%;
}
